## Note: All IDs must contain only valid characters.
## Otherwise, issues may occur with NATS (https://docs.nats.io/nats-concepts/subjects#characters-allowed-and-recommended-for-subject-names)
## Permitted characters: (a - z), (A - Z), (0 - 9), hyphen (-), and underscore (_)
client:
  port: 8080
  debug: false
  path: "/app/client/dist"
  ## Required for authentication. Use a securely generated random secret.
  # Example:
  # openssl rand -hex 32
  # OR
  # cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 36 | head -n 1
  api_key: PLUG_N_MEET_API_KEY
  secret: PLUG_N_MEET_SECRET
  # Token validity duration in minutes. Default is 10 minutes.
  # The client will automatically renew the token.
  token_validity: 10m
  webhook_conf:
    # Enable webhook to receive event responses.
    enable: true
    # Optional global webhook URL.
    url: ""
    # Optionally enable per-meeting webhook URL.
    # If enabled, additional responses will be sent to the specified address.
    enable_for_per_meeting: true
  prometheus:
    enable: false
    metrics_path: "/metrics"
  proxy_header: "X-Forwarded-For"
  copyright_conf:
    # If true, copyright info can be modified via API.
    allow_override: false
    # If true, copyright text will be displayed.
    # Keep the text concise; only limited HTML tags are supported: 'b', 'i', 'em', 'strong', 'a'
    text: 'Powered by <a href="https://www.plugnmeet.org" target="_blank">plugNmeet</a>'
  # Specify host information for accurate BBB join URLs when behind a load balancer.
  bbb_join_host: "https://PLUG_N_MEET_SERVER_DOMAIN"

room_default_settings:
  max_duration: 0 # Duration in minutes. 0 means unlimited.
  max_participants: 0 # 0 means unlimited.
  # Limit the number of breakout rooms. Default is 6, maximum is 16.
  max_num_breakout_rooms: 6

log_settings:
  log_file: "/app/log/plugNmeet.log"
  # Maximum log file size in MB.
  maxsize: 20
  # Number of backup log files to retain.
  maxbackups: 4
  # Maximum age of log files before rotation, in days.
  maxage: 2
  # Log levels: info, warn, error, fatal, debug, or panic.
  # Default: warn
  log_level: "warn"

livekit_info:
  host: "https://PLUG_N_MEET_SERVER_DOMAIN/livekit"
  api_key: LIVEKIT_API_KEY
  secret: LIVEKIT_SECRET

redis_info:
  host: localhost:6379
  username: ""
  password: ""
  db: 0
#  use_tls: false
#  To use Redis Sentinel, remove the 'host' key above and configure the following:
#  sentinel_master_name: plugnmeet
#  sentinel_addresses:
#    - redis-sentinel-host-1:26379
#    - redis-sentinel-host-2:26379
#    - redis-sentinel-host-3:26379
#  If Sentinel uses different credentials, specify them here:
#  sentinel_username: user
#  sentinel_password: pass

database_info:
  # Currently supports only MySQL/MariaDB. More options may be added in the future.
  driver_name: mysql
  host: localhost
  port: 3306
  username: plugnmeet
  password: DB_PLUGNMEET_PASSWORD
  db: plugnmeet
  prefix: pnm_
  # Character set: https://github.com/go-sql-driver/mysql?tab=readme-ov-file#charset
  charset: "utf8mb4"
  # Time zone: https://github.com/go-sql-driver/mysql?tab=readme-ov-file#loc
  loc: "UTC"
  # Maximum connection lifetime. Default is 4 minutes.
  conn_max_lifetime: 4m
  # Maximum number of open connections. Default is 10.
  max_open_conns: 10
  # Optional Read Replicas
  #  replicas:
  #    - host: "replica-db-host-1"
  #      port: 3306
  #      username: "user"
  #      password: "password"
  #    - host: "replica-db-host-2"
  #      port: 3306
  #      username: "user"
  #      password: "password"

nats_info:
  nats_urls:
    - "nats://localhost:4222"
  # WebSocket URL required for plugNmeet client connectivity.
  # If the client cannot connect, users will be unable to join.
  nats_ws_urls:
    - "https://PLUG_N_MEET_SERVER_DOMAIN/ws"
  account: NATS_ACCOUNT
  nkey: NATS_NKEY_PRIVATE_KEY
  auth_callout_issuer_private: NATS_CALLOUT_PRIVATE_KEY
  auth_callout_xkey_private: NATS_CALLOUT_XKEY_PRIVATE_KEY
  num_replicas: 1 # Acceptable values: 1, 3, or 5
  subjects:
    system_api_worker: "sysApiWorker"
    system_js_worker: "sysJsWorker"
    system_public: "sysPublic"
    system_private: "sysPrivate"
    chat: "chat"
    whiteboard: "whiteboard"
    # Used for data exchange between plugNmeet clients.
    data_channel: "dataChannel"
  recorder:
    recorder_channel: "recorderChannel"
    recorder_info_kv: "pnm-recorderInfo"
    transcoding_jobs_subject: "pnm-RecorderTranscoderJobs"

upload_file_settings:
  # If multiple plugNmeet servers are used, ensure all can access this directory.
  # Otherwise, file retrieval may fail. This path can be an NFS or other network-accessible location.
  path: "/app/upload"
  # Maximum file size for chat uploads in MB. Default is 50MB.
  max_size: 50
  # Maximum file size for whiteboard uploads in MB. Default is 30MB.
  max_size_whiteboard_file: 30
  # If true, uploaded files will not be deleted after the session ends.
  keep_forever: false
  allowed_types:
    - "jpg"
    - "png"
    - "jpeg"
    - "svg"
    - "pdf"
    - "docx"
    - "txt"
    - "xlsx"
    - "pptx"
    - "zip"
    - "mp4"
    - "webm"
    - "mp3"

recorder_info:
  # This path must match the recorder's copy_to_dir setting.
  recording_files_path: "/app/recording_files"
  token_validity: 30m
  # If true, deleted recordings will be moved to a backup directory instead of being immediately removed.
  # But it will be removed from the database only.
  # This allows recovery in case of accidental deletion.
  enable_del_recording_backup: true
  # Optional: Specify a separate path for deleted recording backups.
  # Uses os.Rename for fast path changes. Ensure both paths are on the same disk to avoid cross-device errors.
  del_recording_backup_path: "/app/recording_files/del_backup"
  # Duration to retain deleted recordings in backup, in hours. Default is 72 hours (3 days).
  del_recording_backup_duration: 72h

shared_notepad:
  enabled: true
  # Multiple Etherpad hosts can be listed. Load balancing is based on server load.
  # Each host ID must be unique.
  etherpad_hosts:
    -
      # Refer to the note at the top of this file regarding valid IDs.
      id: "node_01"
      host: "ETHERPAD_SERVER_DOMAIN"
      client_id: "plugNmeet"
      client_secret: "ETHERPAD_SECRET"

azure_cognitive_services_speech:
  enabled: false
  # Maximum number of translation languages that can be selected. Default is 2.
  # Pricing may vary with more languages. Refer to Azure pricing documentation.
  max_num_tran_langs: 2
  subscription_keys:
    -
      # Refer to the note at the top of this file regarding valid IDs.
      id: "key_1"
      # Documentation: https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech
      subscription_key: "your_key_here"
      service_region: "key_region"
      # Azure limits concurrent connections per key. Contact Azure to confirm your limit. Default is 20.
      max_connection: 20

analytics_settings:
  enabled: true
  # If multiple plugNmeet servers are used, ensure all can access this directory.
  # Otherwise, file retrieval may fail. This path can be an NFS or other network-accessible location.
  files_store_path: ./analytics
  token_validity: 30m
