services:
  livekit:
    image: livekit/livekit-server
    restart: always
    network_mode: "host"
    volumes:
      - .:/app
      - /etc/ssl/certs/:/etc/ssl/certs/:ro
    command: --config "/app/livekit.yaml" --node-ip PUBLIC_IP
    healthcheck:
      test: wget --no-verbose --tries=5 --spider http://localhost:7880 || exit 1
      interval: 20s
      timeout: 1s
      retries: 5
  livekit-ingress:
    image: livekit/ingress
    restart: always
    network_mode: "host"
    volumes:
      - .:/app
    command: --config "/app/ingress.yaml"
    depends_on:
      livekit:
        condition: service_healthy
    healthcheck:
      test: wget --no-verbose --tries=5 --spider http://localhost:8088 || exit 1
      interval: 20s
      timeout: 1s
      retries: 5
  nats:
    image: nats:2.12-alpine
    restart: always
    network_mode: "host"
    command:
      - "-config"
      - "/nats-server.conf"
    volumes:
      - ./nats-server.conf:/nats-server.conf
      - ./nats-data:/data/jetstream
  etherpad:
    image: mynaparrot/plugnmeet-etherpad
    restart: always
    network_mode: "host"
    volumes:
      - ./etherpad/settings.json:/opt/etherpad-lite/settings.json
      - /usr/share/fonts/:/usr/share/fonts/:ro
      - /etc/fonts/:/etc/fonts/:ro
      - /usr/share/fontconfig/:/usr/share/fontconfig/:ro
      - /var/cache/fontconfig/:/var/cache/fontconfig/:ro
    healthcheck:
      test: wget --no-verbose --tries=5 --spider "http://127.0.0.1:9001/api" || exit 1
      interval: 20s
      timeout: 1s
      retries: 5
  plugnmeet:
    image: mynaparrot/plugnmeet-server
    restart: always
    network_mode: "host"
    volumes:
      - .:/app
      - /etc/ssl/certs/:/etc/ssl/certs/:ro
      - /usr/share/fonts/:/usr/share/fonts/:ro
      - /etc/fonts/:/etc/fonts/:ro
      - /usr/share/fontconfig/:/usr/share/fontconfig/:ro
      - /var/cache/fontconfig/:/var/cache/fontconfig/:ro
    command: --config "/app/config.yaml"
    depends_on:
      nats:
        condition: service_started
      livekit:
        condition: service_healthy
    healthcheck:
      test: wget --no-verbose --tries=5 --spider http://localhost:8080 || exit 1
      interval: 20s
      timeout: 1s
      retries: 5
