[Unit]
Description=plugNmeet service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/plugNmeet
ExecStartPre=/usr/bin/docker-compose down
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=always
SyslogIdentifier=plugNmeet

[Install]
WantedBy=multi-user.target
