[Unit]
Description=plugNmeet service
Requires=docker.service
After=docker.service remote-fs.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
WorkingDirectory=/opt/plugNmeet
ExecStartPre=/usr/bin/docker compose down
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=180s
Restart=always
RestartSec=10
SyslogIdentifier=plugNmeet

[Install]
WantedBy=multi-user.target
